Repository Mrk-PTi/Aquapark_C1, pull requests merged in 2020-11, with the labels that each got.

#10 6 Explaining use cases
  .gitignore
  .idea/Aquapark.iml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/workspace.xml
  docs/UseCase.png
  docs/srs.md
Labels: documentation

#17 12 Transaction controller, DTO
  backend/src/main/java/hu/uni/eku/tzs/controller/TransactionController.java
  backend/src/main/java/hu/uni/eku/tzs/controller/dto/TransactionDTO.java
  backend/src/main/java/hu/uni/eku/tzs/controller/dto/TransactionRequestDTO.java
Labels: backend

#32 Backend bugfix
  backend/Dockerfile
  backend/src/main/java/hu/uni/eku/afpc1/controller/GuestController.java
  backend/src/main/java/hu/uni/eku/afpc1/controller/PayController.java
  backend/src/main/java/hu/uni/eku/afpc1/controller/SlideController.java
  backend/src/main/java/hu/uni/eku/afpc1/controller/WatchController.java
  backend/src/main/java/hu/uni/eku/afpc1/controller/dto/GuestCreateRequestDTO.java
  backend/src/main/java/hu/uni/eku/afpc1/controller/dto/GuestDTO.java
  backend/src/main/java/hu/uni/eku/afpc1/controller/dto/PayDTO.java
  backend/src/main/java/hu/uni/eku/afpc1/controller/dto/PayRequestDTO.java
  backend/src/main/java/hu/uni/eku/afpc1/controller/dto/SlideCreateRequestDTO.java
  backend/src/main/java/hu/uni/eku/afpc1/controller/dto/SlideDTO.java
  backend/src/main/java/hu/uni/eku/afpc1/controller/dto/WatchCreateRequestDTO.java
  backend/src/main/java/hu/uni/eku/afpc1/controller/dto/WatchDTO.java
  backend/src/main/java/hu/uni/eku/afpc1/dao/GuestDao.java
  backend/src/main/java/hu/uni/eku/afpc1/dao/GuestDaoImpl.java
  backend/src/main/java/hu/uni/eku/afpc1/dao/GuestRepository.java
  backend/src/main/java/hu/uni/eku/afpc1/dao/PayDao.java
  backend/src/main/java/hu/uni/eku/afpc1/dao/PayDaoImpl.java
  backend/src/main/java/hu/uni/eku/afpc1/dao/PayRepository.java
  backend/src/main/java/hu/uni/eku/afpc1/dao/SlideDao.java
  backend/src/main/java/hu/uni/eku/afpc1/dao/SlideDaoImpl.java
  backend/src/main/java/hu/uni/eku/afpc1/dao/SlideRepository.java
  backend/src/main/java/hu/uni/eku/afpc1/dao/WatchDao.java
  backend/src/main/java/hu/uni/eku/afpc1/dao/WatchDaoImpl.java
  backend/src/main/java/hu/uni/eku/afpc1/dao/WatchRepository.java
  backend/src/main/java/hu/uni/eku/afpc1/dao/entity/Guest.java
  backend/src/main/java/hu/uni/eku/afpc1/dao/entity/Pay.java
  backend/src/main/java/hu/uni/eku/afpc1/dao/entity/Slide.java
  backend/src/main/java/hu/uni/eku/afpc1/dao/entity/Watch.java
  backend/src/main/java/hu/uni/eku/afpc1/model/Guest.java
  backend/src/main/java/hu/uni/eku/afpc1/model/Pay.java
  backend/src/main/java/hu/uni/eku/afpc1/model/Slide.java
  backend/src/main/java/hu/uni/eku/afpc1/model/Watch.java
  backend/src/main/java/hu/uni/eku/afpc1/service/GuestServiceImpl.java
  backend/src/main/java/hu/uni/eku/afpc1/service/PayServiceImpl.java
  backend/src/main/java/hu/uni/eku/afpc1/service/SlideServiceImpl.java
  backend/src/main/java/hu/uni/eku/afpc1/service/WatchServiceImpl.java
Labels: backend, bug

#44 Frontend guest bugfix
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/component/GuestListItem.js
  frontend/src/component/GuestRecordingForm.js
  frontend/src/dispatcher/GuestActionConstants.js
  frontend/src/store/GuestStore.js
  frontend/src/store/SlideStore.js
Labels: frontend

#49 Delete gombok bug megjavítva
  backend/src/main/java/hu/uni/eku/afpc1/controller/GuestController.java
  backend/src/main/java/hu/uni/eku/afpc1/controller/PayController.java
  backend/src/main/java/hu/uni/eku/afpc1/service/GuestService.java
  backend/src/main/java/hu/uni/eku/afpc1/service/GuestServiceImpl.java
  backend/src/main/java/hu/uni/eku/afpc1/service/PayService.java
  backend/src/main/java/hu/uni/eku/afpc1/service/PayServiceImpl.java
  backend/src/main/java/hu/uni/eku/afpc1/service/SlideServiceImpl.java
Labels: backend, bug

#50 Refresh gomb hozzáadva
  frontend/src/App.css
  frontend/src/App.js
Labels: frontend
